<!-- <div style="display: flex">
  <button (click)="shopMaisVida(5)">+5 vida </button>
  <button (click)="shopMaisVidaMaxima(5)">+5 vida máxima </button>
  <button (click)="shopMaisDano(1)">+1 dano</button>
</div>

<div id="hud">
  <p>Vida do Jogador: <span id="playerHealth">10</span></p>
  <p>Inimigo Selecionado: <span id="selectedEnemy">Nenhum</span></p>
  <button (click)="attack()">Atacar</button>
</div> -->
<div style="display: flex;flex-direction: column;width: 100vw;height: 100vh;">
  <app-inventarios></app-inventarios>
  <div id="world-container" style="width: 100%;height: 100%;"></div>
</div>